.Pagination {
    display: flex;
    align-items: center;
    border: solid 2px #8B7969;
}

.Pagination>*+* {
    border-left: solid 2px #8B7969;
}

.Pagination-Item-Link {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 45px;
    height: 45px;
    background: #fff;
    font-size: 14px;
    color: #8B7969;
    font-weight: bold;
    transition: all 0.15s linear;
}

.Pagination-Item-Link-Icon {
    width: 20px;
}

.Pagination-Item-Link.isActive {
    background: #8B7969;
    color: #fff;
    pointer-events: none;
}

.Pagination-Item-Link:not(.isActive):hover {
    background: #8B7969;
    color: #fff;
}